{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <a href="/"> Go Back To Main Menu</a>  <br>     <br>
        <h1>Customer Search</h1>
        <h2>Search Customer by ID</h2>
        <br>
        <form action="/customers_search">
        <table style="margin: auto; width:450px;" class="classForm">
            <tr>
                <th style="width: 150px;">Customer ID</th>
                <td style="text-align: center"><input type="text" name="idNO" style="width: 90%;"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center"><input type="submit" value="Search" style="width: 150px;"></td>
            </tr>
        </table>
        </form>
    </div>
{% endblock %}
