{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <a href="/"> Go Back To Main Menu</a>  <br>     <br>
        <h1>Customer Report</h1>
        <h2>{{ report_title  }}</h2>
        <br>
        <table style="margin: auto;width:1000px;" class="classForm">
            <tr><th>Customer ID</th><th>Name</th><th>Phone</th></tr>
            {% for customer in customers  %}
                <tr>
                    <td style="text-align: center;">{{ customer.id }}</td>
                    <td style="text-align: center;">{{ customer.name }}</td>
                    <td style="text-align: center;">{{ customer.phone }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
