.background-container {
    background-image: url('/background.png');
    background-size: 100% 100%;
    height: 66vh; /* adjust the height to match the image height */
    position: relative;
  }
  
.centered-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 125vh;
  transform: translate(-50%, -50%);
}
.h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  margin-left: 25px;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-right: 25px;
}
.content {
  font-size: 1.02rem;
  margin-left: 25px;
  margin-top: 25px;
  margin-right: 25px;
}
.h2-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.h2:first-child{
  margin-left: 25px;
}
.h2:nth-child(2){
  margin-left: 575px;
}
.h2 {
  width: auto;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25px;
}
.form {
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 25px;
}
.input {
  width: 340px;
  margin-left: 45px;
}
.date {
  width: 200px;
  margin-left: 10px;
}
.time {
  margin-left: 10px;
  width: 150px;
}
.date2 {
  width: 200px;
  margin-left: 35px;
}
.time2 {
  margin-left: 10px;
  width: 150px;
}
.button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 250px;
  height: 60px;
  background-color: #c30010;
  margin-bottom: 50px;
  font-size: 1.02rem;
}
.title {
  font-size: 2.1rem;
  font-weight: bold;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-top: 75px;
  margin-left: 275px;
  margin-bottom: 50px;
}
.grid-container {
  width: 100%;
  justify-content: center;
  display: flex;
  height: 300px;
}
.centered-grid {
  width: 130vh;
}
mat-grid-tile .mat-grid-tile-content {
  display: block;
  text-align: left;
  padding: 25px;
}
.mat-icon-lg {
  transform: scale(1.5);
  margin-bottom: 10px;
  color: #c30010;
}
.grid_h2 {
  font-size: 1.1rem;
  font-weight: bolder;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.grid_p {
  font-size: 1rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.timeline-container {
  position: relative;
  padding: 20px 0;
  width: 130vh;
  margin: 0 auto;
}
.timeline-item {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.timeline-marker {
  width: 10px;
  height: 10px;
  background-color: #c30010;
  border-radius: 50%;
  position: absolute;
  left: -19px; /* Adjust this value to control marker position */
  top: 10px;
}
.timeline-item::before {
  content: '';
  position: absolute;
  left: -15px; /* Aligns with the marker */
  top: 10px;
  bottom: -10px;
  width: 2px;
  background-color: #c30010;
}
.timeline-content {
  margin-left: 30px;
  padding-right: 350px;
  margin-bottom: 50px;
}
.timeline-item:last-child::before {
  bottom: 30px; /* Prevents the line from extending beyond the last item */
}
.bottom-bar {
  height: 150px;
  background-image: url('/background.png');
  margin-top: 100px;
}