<div class="background-container">
    <mat-card class="centered-card">
      <mat-card-header class="h1">Car rentals near you</mat-card-header>
      <mat-card-content class="content">Browse vehicles available in your area! From electric cars and sedans to SUVs, you’ll find vehicles fit for solo travelers and groups with up to 7 people. Enter your time and location details (like New York Stewart International Airport) to find car rentals near you.</mat-card-content>
      
      <div class="header-container">
        <mat-card-header class="h2">Find rentals near</mat-card-header>
        <mat-card-header class="h2">Return</mat-card-header>
      </div>
      
      <form class="form" [formGroup]="form">
        <mat-form-field class="input">
            <mat-label>Pickup location</mat-label>
            <input matInput [formControlName]="'pickupLocation'" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              @for (option of filteredOptions | async; track option) {
                <mat-option [value]="option">{{ option }}</mat-option>
              }
            </mat-autocomplete>
        </mat-form-field>
        
        <mat-form-field class="date">
            <mat-label>Start date</mat-label>
            <input matInput [matDatepicker]="picker1" [formControlName]="'startDate'">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field class="time">
          <mat-label>Time</mat-label>
          <mat-select [formControlName]="'startTime'">
            @for (time of times; track time) {
              <mat-option [value]="time.id">{{ time.time }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field class="date2">
          <mat-label>Return date</mat-label>
          <input matInput [matDatepicker]="picker2" [formControlName]="'returnDate'">
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="time2">
          <mat-label>Time</mat-label>
          <mat-select [formControlName]="'returnTime'">
            @for (time of times; track time) {
              <mat-option [value]="time.id">{{ time.time }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button mat-flat-button class="button" (click)="sendReservationRequest()">Search for rental cars</button>
      </form>
    </mat-card>
</div>

<app-aboutus></app-aboutus>

<div class="bottom-bar"></div>