.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    margin-top: 50px;
}
.centered-grid {
    height: 100%;
    width: 95%;
}
.mat-grid-tile-content {
    display: block;
    text-align: left;
    height: 100%;
    padding: 20px;
}
.card-content {
    padding: 20px;
}
.h2 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 25px;
}
.location {
    width: 100%;
}
.date {
    width: 175px;
    margin-right: 10px;
}
.time {
    width: 135px;
}
.button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    height: 60px;
    background-color: #c30010;
    font-size: 1.02rem;
}
mat-grid-tile {
    background-color: antiquewhite;
    height: 100%
}