.container {
    width: 100%;
    height: 45vh;
    justify-content: center;
    display: flex;
    margin-top: 50px;
}
.centered-grid {
    height: 100%;
    width: 95%;
}
.mat-grid-tile-content {
    display: block;
    text-align: left;
    height: 100%;
    padding: 20px;
}
.card-content {
    padding: 20px;
    margin-top: 15px;
}
.h2 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 25px;
}
.location {
    width: 100%;
}
.date {
    width: 175px;
    margin-right: 10px;
}
.time {
    width: 135px;
}
.button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    height: 60px;
    background-color: #c30010;
    font-size: 1.02rem;
}
mat-grid-tile {
    height: 100%
}
.scrollable-tile {
    overflow-y: auto;
    max-height: 100vh;
}
.h1 {
    font-size: 2.1rem;
    font-weight: bold;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
img {
    width: 100px;
    height: 100px;
    float: left;
    margin: 5px;
}
.car-content {
    padding: 20px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.car-details {
    margin-left: 20px;
    flex: 1;
}
.car-type {
    font-size: 1.1rem;
    font-weight: bold;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin-bottom: 15px;
}
.make-model {
    font-size: 1rem;
    margin-bottom: 5px;
}
.car-location {
    font-style: italic;
}
.price-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: 10px;
}
.day-price {
    font-size: 1rem;
    font-weight: bold;
}
app-locations {
    width: inherit;
    height: inherit;
}