<div class="container">
    <mat-grid-list cols="9" class="centered-grid">
        <mat-grid-tile [colspan]="2">
            <div class="mat-grid-tile-content">
                <mat-card class="card-content">
                    <mat-card-header class="h2">Find rentals near</mat-card-header>
                    <form [formGroup]="reservationForm">
                        <mat-form-field class="location">
                            <mat-label>Pickup Location</mat-label>
                            <input matInput [formControlName]="'pickupLocation'" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                @for (option of filteredOptions | async; track option) {
                                    <mat-option [value]="option">{{ option }}</mat-option>
                                }
                            </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field class="date">
                            <mat-label>Start date</mat-label>
                            <input matInput [matDatepicker]="picker2" [formControlName]="'startDate'">
                            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="time">
                            <mat-label>Time</mat-label>
                            <mat-select [formControlName]="'startTime'">
                                @for (time of times; track time) {
                                    <mat-option [value]="time.id"> {{ time.time }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="date">
                            <mat-label>Return date</mat-label>
                            <input matInput [matDatepicker]="picker1" [formControlName]="'returnDate'">
                            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="time">
                            <mat-label>Time</mat-label>
                            <mat-select [formControlName]="'returnTime'">
                                @for (time of times; track time) {
                                    <mat-option [value]="time.id"> {{ time.time }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>

                        <button mat-flat-button class="button" (click)="getCarsByLocation(reservationForm.get(['pickupLocation'])?.value)">Search</button>
                    </form>
                </mat-card>
            </div>
        </mat-grid-tile>
        
        <mat-grid-tile [colspan]="4" class="scrollable-tile">
            <div class="mat-grid-tile-content">
                <h1 class="h1">Choose a car</h1>
                <button mat-raised-button>Price</button>
                <button mat-raised-button>Model</button>
                <button mat-raised-button>Type</button>
                <button mat-raised-button disabled>Reset</button>
                <button mat-raised-button disabled>Apply</button>

                <mat-card class="car-content" *ngFor="let car of cars">
                    <img src="/cars/{{car.vehicleid}}.png"/>
                    <div class="car-details">
                        <mat-card-header class="car-type">{{ car.ctype }}</mat-card-header>
                        <mat-card-content class="make-model">{{ car.year }}, {{ car.make }} {{ car.model }}</mat-card-content>
                        <mat-card-content class="car-location">{{ car.location }}</mat-card-content>
                    </div>
                    <div class="price-details">
                        <mat-card-header class="day-price">${{ car.dailyrate }}/day</mat-card-header>
                        <mat-card-content>${{ car.weeklyrate }}/week</mat-card-content>
                    </div>
                </mat-card>
            </div>
        </mat-grid-tile>
        
        <mat-grid-tile [colspan]="3">
            <div class="mat-grid-tile-content">
                <app-locations [start]="cars[0]?.location"></app-locations>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>