<mat-toolbar color="primary">
    <span><mat-icon>car_rental</mat-icon>Car Rental</span>

    <div class="spacer"></div>
    <a mat-button [routerLink]="['/home']" style="color: #c30010;">Home</a>
    <a mat-button [routerLink]="['/reservations']" style="color: #c30010">Reservations</a>
    <a mat-button [routerLink]="['/vehicles']" style="color: #c30010;">Vehicles</a>
    <a mat-button [routerLink]="['/locations']" style="color: #c30010;">Locations</a>
    <a mat-button [routerLink]="['/aboutus']" style="color: #c30010;">About Us</a>
    
    <a mat-flat-button 
        style="background-color:#c30010;
        color: white;"
        >Sign In / Join</a>

  </mat-toolbar>